{% extends 'gre_word/base.html' %}
{% block title %}Words Begin With {{ letter }}{% endblock %}

{% block body %}
	<h1>Words Begin With {{ letter }}</h1>

	{% if prev_letter %}
		<a href="../{{ prev_letter }}">Previous Letter</a>
	{% endif %}

	{% if next_letter and prev_letter%}
	 | 
	{% endif %}

	{% if next_letter %}
		<a href="../{{ next_letter }}">Next Letter</a>
	{% endif %}

	<br><br>

	{% include 'gre_word/word_list.html' %}

	<div class="pagination">
		<span class="step-links">
			<div class="current">
				Page {{ words.number }} of {{ words.paginator.num_pages }}.
			</div>
			
			{% if words.has_previous %}
				<a href="?page={{ words.previous_page_number }}">Previous Page</a>
			{% endif %}

			{% if words.has_previous and words.has_next %}
			 | 
			{% endif %}

			{% if words.has_next %}
				<a href="?page={{ words.next_page_number }}">Next Page</a>
			{% endif %}
		</span>
	</div>
	
{% endblock %}