<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>Zhihu Daily Purify Web Server</title>
<style type="text/css">
	body{ text-align:center }
</style>
</head>
<body>
	<h1>Zhihu Daily Purify Web Server (Hosted on Sina App Engine)</h1>
	<div class="disclaimer">
		<em>Disclaimer: Zhihu is a trademark of Zhihu Inc. The app and web site of Zhihu Daily Purify are not created nor endorsed by Zhihu Inc.</br></em> 
		<em>All the infomation and content accessible through Zhihu Daily Purify are subject to Zhihu's copyright and terms of use.</br></em> 
		<em>This is a free app and does not charge for anything. All content are available for free from <a href="http://www.zhihu.com">Zhihu</a>.</em>
	</div>
	<p>
		Author: <a href="http://izzyleung.github.io">Izzy Leung</a>
	</p>
</body>
</html>